:root {
  /* Colours */
  --primary-bg-color: #fceb94;
  --primary-font-color: #000000; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #d5e5f4; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: none; /* used */
  --border-color-light: none; /* used */
  --border-radius: 37px;

  /* Links */
  --link-color: #fffae2; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Rubrik", sans-serif;
  --headline-font: "Rubrik", sans-serif;
  --body-font: "Rubrik", sans-serif;
  --link-font: "Rubrik", sans-serif;

  /* Text sizes */
  --logotype-size: 1.5rem;
  --headline1-size: 2.2rem;
  --headline2-size: 2rem;
  --headline3-size: 1.25rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1.25rem;
  --followup-text-size: 0.8rem;
  --form-submit-size: 1rem;

  /* Text colors */
  --logotype-color: #fffae2;
  --headline-color: #fffae2;
  --headline-color-inverted: #fffae2;
  --bodytext-color: #575c61;
  --bodytext-color-inverted: #f9fcfe;
  --cta-text-color: #000000;
  --cta-text-color-inverted: #bbc3ca;
  --followup-text-color: #fffae2;
  --followup-text-color-inverted: #bbc3ca;
  --formfield-text-color: #575c61;
  --form-submit-color: #bbc3ca;
  --form-submit-color-inverted: #bbc3ca;

  /* Background colors */
  --logotype-background-color: #000000;
  --header-background-color: #6f90eb;
  --article-background-color: #fffae2;
  --news-background-color: #fffae2;
  --news-background-color-inverted: #dbe2f5;
  --info-background-color: rgb(255, 255, 255);
  --headline-bg-color: #ff4b00;
  --headline-bg-color-alert: #ff4b00;
  --headline-bg-color-inverted: #000000;
  --bodytext-bg-color: #ffffff;
  --bodytext-bg-color-inverted: #dbe2f5;
  --cta-text-bg-color: #ff4b00;
  --cta-text-bg-color-inverted: #dbdde3;
  --followup-text-bg-color: #ff0000;
  --followup-text-bg-color-inverted: #dbdde3;
  --form-background-color: #c5c7ce;
  --form-text-color: #dbdde3;
  --formfield-background-color: #dbdde3;
  --formfield-background-color-active: #dbdde3;
  --form-submit-bg-color: #dbdde3;
  --form-submit-bg-color-inverted: #dbdde3;

  /* Info-boxes */
  --info-bg-color-yellow: #f8cf00;
  --info-bg-color-green: #def5db;
}
